<div class="contenedor pt-5">

    <ul class="ml-3 mt-3">
        <li><img src="../assets/img/parking_lot1.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot2.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot3.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot4.jpg" alt=""></li>
    </ul>

</div>

<div class="informacion card">
    <div class="vision">
        <i class="fas fa-binoculars"></i> <h2>Vision</h2>
    </div>
    <div class="mision">
        <h2>Mision</h2> 
    </div>

</div>