.contenedor{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.contenedor ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: slide 10s infinite alternate;
}
.contenedor li{
    width: 150%;
    list-style: none;
}
.contenedor img{
    width: 100%;
    height: 60%;
}

@keyframes slide{

    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
