<div class="contenedor mt-5">

    <ul>
        <li><img src="../assets/img/parking_lot1.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot2.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot3.jpg" alt=""></li>
        <li><img src="../assets/img/parking_lot4.jpg" alt=""></li>
    </ul>

</div>

<div class="informacion">
    <div class="vision">
        <i class="fas fa-binoculars"></i>
        <h2>Vision</h2>
    </div>
    <div class="mision">
        <i class="fas fa-bullseye"></i>
        <h2>Mision</h2>
    </div>
    <div class="frank">
        <img src="../../../assets/img/fotos/frank.jpg" alt="">
        <i class="fas fa-user-tie"></i>
        <p>Francisco Meza</p>
        <div class="redes">
            <a class="btn" href="https://www.facebook.com/bigfrank.ok"><i class="fab fa-facebook-square"></i></a>
            <a class="btn" href="https://www.instagram.com/frankmeza1998/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

</div>