.contenedor {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.contenedor ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: slide 10s infinite alternate;
}

.contenedor li {
    width: 100%;
    list-style: none;
}

.contenedor img {
    width: 1348px;
    height: 500px;
}

.informacion {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 900px;
    background: #0575E6;
    opacity: 0.8;
}

.vision {
    top: 50px;
    position: relative;
    left: 58%;
    width: 500px;
    height: 300px;
    background: rgba(4, 59, 104, 0.986);
    border-radius: 10px;
    text-align: center;
}

.mision {
    top: 50px;
    position: absolute;
    left: 5%;
    width: 500px;
    height: 300px;
    background: rgba(4, 59, 104, 0.986);
    border-radius: 10px;
    text-align: center;
}

.mision h2 {
    margin: 20px;
}

.vision h2 {
    margin: 20px;
}

.vision i {
    padding: 0;
    margin: 0;
    position: absolute;
    float: left;
    left: 160px;
    top: 25px;
    font-size: 30px;
}

.mision i {
    padding: 0;
    margin: 0;
    position: absolute;
    float: left;
    left: 160px;
    top: 25px;
    font-size: 30px;
}

.frank img {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: 500px;
    left: 100px;
}

.frank p {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 730px;
    left: 140px;
    font-size: 20px;
}

.frank i {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 728px;
    left: 110px;
    font-size: 25px;
}

.redes {
    position: absolute;
    top: 50px;
    left: 30px;
}

.btn i {
    position: relative;
    line-height: 20px;
    font-size: 30px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}