<div class="continer">

        <div class="img-header">
    
            <div class="redes">
                <a class="btn" href="https://web.facebook.com/MallPlazaCO/?_rdc=1&_rdr"><i
                        class="fab fa-facebook-square"></i></a>
                <a class="btn" href="https://twitter.com/MallPlazaCO"><i class="fab fa-twitter-square"></i></a>
                <a class="btn" href="https://www.instagram.com/mallplazaco/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    
    
        <div class="row text-white bg-primary">
            <div class="col-md-12 my-2 text-center text-white">
                <h2>Informacion del Centro Comercial</h2>
            </div>
            <div class="col-md-6 p-4">
                <div class="card gradient" style="height: 300px;">
                    <div class="card-header text-center" style="font-size: 20px;">
                        <i class="fas fa-car pr-2"></i>
                        <span>informacion del Parqueadero</span>
                    </div>
                    <div class="card-body">
                        Cupos: 100 <br>
                        Hora de Apertura: 8:00am
                    </div>
                </div>
                
    
            </div>
            <div class="col-md-6 p-4">
                    <img src="../../../../assets/img/mall-plaza/unnamed.jpg"  alt="https://mallplazaelcastillo.com" class="w-100">
            </div>
        </div>
    </div>
