<div class="contenedor">

    <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">

        <div class="login-form">
            <h1 class="text-center mb-2" id="titulo">Registro</h1>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group nombre">
                        <input 
                        type="text" 
                        name="nombre"
                        #name="ngModel"
                        [(ngModel)]="personaservice.selecPersona.name"
                        required 
                        placeholder="Nombre"
                        >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group nombre">
                        <input
                         type="text"
                         name="apellido" 
                         
                         required 
                         placeholder="Apellido">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group nombre">
                        <input 
                        type="text"
                         name="usuario"
                        
                         required
                         placeholder="Usuario">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group nombre">
                        <input 
                        type="password" 
                        name="contraseña" 
                       
                        required 
                        placeholder="Contraseña">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group nombre">
                        <input 
                        type="email" 
                        name="correo"
                        
                        
                        required
                        placeholder="Correo">
                    </div>
                </div>
                <label class="col-md-12">Tipo de Vehiculo</label><br>
                <div class="col-md-4">
                    <input 
                    class="form-check-input"
                     id="carro"
                     type="radio"
                     name="vehiculo" 
                     
                     
                     value="carro" 
                     checked required>
                    <label class="form-check-label" for="carro">Carro</label>
                </div>
                <div class="col-md-4">
                    <input 
                    class="form-check-input" 
                    id="moto" 
                    type="radio" 
                    name="vehiculo" 
                    
                    
                    value="moto">
                    <label class="form-check-label" for="moto">Moto</label>
                </div>
                <div class="col-md-4">
                    <input 
                    class="form-check-input" 
                    id="otros" 
                    type="radio" 
                    name="vehiculo" 
                    
                    
                    value="otros">
                    <label 
                    class="form-check-label" for="otros">Otros</label>
                </div>
            </div>
            <br><br>
            <div>
                <button class="btnlog" type="submit" (click)="resetForm(registroForm)">Ingresar</button>
            </div>
        </div>
    </form>
</div>