<nav class="navbar navbar-expand-lg navbar-dark gradient fixed-top" id="navegation">
  <a class="navbar-brand d-flex" href="#">
    <img style="border-radius: 40%" src="../assets/img/LOGO.PNG" width="50" height="50">
    <h3 class="ml-3 mt-2">GOOD PARKING</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-item nav-link" routerLink="/inicio" routerLinkActive="active" href="#"><i class="fas fa-home"></i>
          Home</a>
      </li>
      <li class="nav-item mr-2" *ngIf="hide">
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" href="#"><i
            class="fas fa-sign-out-alt"></i> Login</a>
      </li>
      <li class="nav-item mr-2" *ngIf="hide">
        <a class="nav-item nav-link" routerLink="/registrarse" routerLinkActive="active" href="#"><i
            class="fas fa-user-edit"></i> check in</a>
      </li>
      <li class="nav-item mr-2" *ngIf="exit">
        <a class="nav-item nav-link" routerLink="/reserva" routerLinkActive="active" href="#"><i
            class="fas fa-calendar-check"></i> Reserve</a>
      </li>
      <li class="nav-item mr-2" *ngIf="exit">
        <a class="nav-item nav-link" href="#" (click)="salir()"><i class="fas fa-door-open"></i>sign off</a>
      </li>
      <li class="nav-item mr-2 dropdown">
        <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-parking"></i> Parking
          Lot</a>
        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/parqueadero/mall-plaza" routerLinkActive="active" href="#">Mall
            Plaza</a>
          <a class="dropdown-item" routerLink="/parqueadero/caribe-plaza" routerLinkActive="active" href="#">Caribe
            Plaza</a>
          <a class="dropdown-item" routerLink="/parqueadero/plaza-bocagrande" routerLinkActive="active" href="#">Plaza
            Bocagrande</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div style="height: auto; overflow-x: hidden;">
  <router-outlet></router-outlet>
</div>