<div class="registro" style="margin-top: 76px; color: #111111;">
    <img src="../../../assets/img/fondo-regis-parking.jpg" alt="" style="position: fixed;">
    <div class="body">
        <p style="font-size: 30px; text-align: center;">Registre su Parqueadero Aqui</p>

        <div class="card opacidad" style="margin-top: 250px; border: none;">
            <div class="text-center mb-4 mt-4" style="font-size: 25px;">
                Detalles Del parqueadero
            </div>
            <form (submit)="iniciar(limpiar)" autocomplete="off">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mt2">
                                <label for="name">Nombre del Parqueadero</label>
                                <input type="text" id="name" class="form-control" #limpiar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt2">
                                <label for="direccion">Dirección</label>
                                <input type="text" id="direccion" class="form-control" #limpiar>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mt2">
                                <label for="correo">Correo</label>
                                <input type="email" id="correo" class="form-control" #limpiar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt2">
                                <label for="telefono">Telefono</label>
                                <input type="text" id="tel" class="form-control" #limpiar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt2">
                                <label for="cupos">Cupos Disponibles</label>
                                <input type="text" id="cupos" class="form-control" #limpiar>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-primary "> Registrar </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>