<div class="contenedor">
    <img src="../../../assets/img/blackbg.png"  class="opacity"alt="">
    <img src="../../../assets/img/fondo.jpg" alt="">
    <form (submit)="iniciar(limpiar)">

        <div class="login-form">
            <h1 class="text-center mb-2">Login</h1>
            <br><br>
            <div class="form-group nombre">
                <input type="text" name="usuario" id="usuario"  placeholder="Usuario" #limpiar>
            </div>
            <div class="form-group nombre mb-4">
             <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" #limpiar>
            </div>
            <br><br>
            <div>
                <button class="btnlog" (click)="ingresar()">Ingresar</button>
            </div>
            <br><br>
            <a routerLink="/registrarse" routerLinkActive="active">Registrese</a>

        </div>
    </form>
</div>