<div class="continer">

        <div class="img-header">
    
            <div class="redes">
                <a class="btn" href="https://web.facebook.com/plazabocagrande/"><i
                        class="fab fa-facebook-square"></i></a>
                <a class="btn" href="https://twitter.com/PlazaBocagrande"><i class="fab fa-twitter-square"></i></a>
                <a class="btn" href="https://www.instagram.com/plazabocagrande/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    
    
        <div class="row text-white bg-primary">
            <div class="col-md-12 my-2 text-center text-white">
                <h2>Informacion del Centro Comercial</h2>
            </div>
            <div class="col-md-6 p-4">
                <div class="card gradient" style="height: 300px;">
                    <div class="card-header text-center" style="font-size: 20px;">
                        <i class="fas fa-car pr-2"></i>
                        <span>Informacion del Parqueadero</span>
                    </div>
                    <div class="card-body">
                        Cupos: 100 <br>
                        Hora de Apertura: 8:00am
                    </div>
                </div>
                
    
            </div>
            <div class="col-md-6 p-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.1304341306686!2d-75.55341608588616!3d10.411213868676914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f12ad999131%3A0x4854915b1817679d!2sPlaza%20Bocagrande%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1571345388582!5m2!1ses!2sco" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>