<div class="contenedor">

    <ul class="ml-3 mt-3">
        <li><img src="../../../../assets/img/Caribe-P.jpg" alt=""></li>
        <li><img src="../../../../assets/img/parking.jpg" alt=""></li>
    </ul>
    <div class="redes">
        <a class="btn" href="https://web.facebook.com/caribeplaza/?_rdc=1&_rdr"><i class="fab fa-facebook-square"></i></a>
        <a class="btn" href="https://twitter.com/CaribePlaza"><i class="fab fa-twitter-square"></i></a>
        <a class="btn" href="https://www.instagram.com/caribeplaza/"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="informacion">
        <h3>Informacio del Centro Comercial</h3>
        <a href="http://www.cccaribeplaza.com"><img src="../../../../assets/img/Caribe-P.jpg" alt=""></a>
        <div class="parrafo">
            <h3>Caribe Plaza</h3>
            <p class="h4">
                Direccion: Ceballos calle princial sector el paraiso
                <br><br>
                <label>Telefono: 3127884178 - 3136752460</label>
            </p>
        </div>
        <div class="par">
            <h3>Informacion del Parqueadero</h3>
            <p class="h4 ml-4 mt-4">Cupos:
                <label>100</label> <br>
                <label>Diponibles: 100</label>
            </p>
        </div>

    </div>

</div>